<footer>
	<div class="footer-links">
		<section>
			<h5>General</h5>
			<a href="#">About Us</a>
		</section>
		<section>
			<h5>Legal</h5>
			<a href="#">Policies</a>
		</section>
		<section>
			<h5>Links</h5>
			<a href="#">My Profile</a>
		</section>
	</div>
	<div>
		<section>
			<h5>Data Agreement</h5>
			<p>This is intended to be used as a mockup for our implementation challenge. Good luck, and let us know if you have any questions</p>
		</section>
	</div>
	<div class="upper">
		© 2018 VW Dealer Site
	</div>
</footer>