<main role="main" class="main container">
	<header>
		<div class="breadcrumbs">
		<a href="#">Home</a> / {{ title }}
		</div>
		<div class="banner">
			<div>
				<h1>{{ title }}</h1>
				<p>{{ desc }}</p>
			</div>
			<div>
				<img src="" alt="">
			</div>
		</div>
	</header>
	<div class="container tile-wrapper">

		{{> tile img="/dog.jpg" name="static" }}
		
		{{#each categories}}
		{{> tile }}
		{{/each}}


	</div>
</main>